ipywidgets
altair
matplotlib
scikit-learn
future
voila 
numpy



Cython
cmdstanpy==0.9.68
pystan

pandas
matplotlib
LunarCalendar
convertdate
holidays
setuptools
setuptools-git
python-dateutil
tqdm
wheel


prophet
